# AWS Cognito
AWS_REGION=us-east-2
COGNITO_USER_POOL_ID=us-east-2_oce8grpSy
COGNITO_APP_CLIENT_ID=6p5eeph209sasn3ua3fibvpugi
COGNITO_APP_CLIENT_SECRET=replace_with_your_client_secret
COGNITO_ADMIN_GROUP=admin

# Database
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=cursos

# Optional full URI override
# DATABASE_URL=mysql+pymysql://root:password@localhost:3306/cursos
