# JWT
JWT_SECRET_KEY=replace_with_strong_jwt_secret
JWT_ACCESS_TOKEN_EXPIRES=3600

# Database
DB_USER=admin
DB_PASSWORD=replace_with_rds_password
DB_HOST=database-1.c2vy4cw82zdc.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=cursos

# Optional full URI override
# DATABASE_URL=mysql+pymysql://admin:replace_with_rds_password@database-1.c2vy4cw82zdc.us-east-1.rds.amazonaws.com:3306/cursos
